<!DOCTYPE html>
<html lang="en-us" ng-app="myApp">
    <head>
        <title>KeepUp</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <!-- load bootstrap and fontawesome via CDN -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

        <link rel="stylesheet" href="./assets/styles.css" />
        <style>
            html, body, input, select, textarea
            {
                font-size: 1.05em;
            }
        </style>
        
        <!-- load angular via CDN -->
        <script src="//code.angularjs.org/1.3.0-rc.1/angular.min.js"></script>
        <script src="//code.angularjs.org/1.3.0-rc.1/angular-route.min.js"></script>
        <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
        <script src="./assets/app.js"></script>
        
    </head>
    <body id="center">
        <header>
			<div id="header">
                <h1>Instead of <em>takedowns</em> we <strong>KeepUp</strong></h1>
                
                <form action="http://kuapi.pedelen.com/add" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" name="url" placeholder="https://www.youtube.com/watch?v=yourvideo">
                    </div>
                    <div id="button-container" class="form-group">
                        <button type="submit" id="subButton" class="btn">Submit</button>
                    </div>
                </form>

            </div>
		</header>
        <main>
            <div class="main-box" id="one">
                <h2>Companies and individuals can take your videos down for virtually no reason.</h2>

                <img id="yt" src="./assets/youtube_fail.jpg"/>

                <h4>When people report your videos, you often have no recourse. Take the power back.</h4>
                <a class="learn-more" href="http://keepup.pedelen.com/learnmore.html">Learn more...</a>
            </div>
            <div class="main-box" id="two">
                <h2>Protect yourself and your presence with the decentralized power of KeepUp.</h2>
                <div id="icons">
                <i class="fa fa-video-camera main-ic" aria-hidden="true"></i>
                <i class="fa fa-server main-ic" aria-hidden="true"></i>
                <i class="fa fa-globe main-ic" aria-hidden="true"></i>
                </div>
                <h4>KeepUp downloads your videos and seeds them to the world when they are frauduently taken down.</h4>
                <a class="learn-more" href="/learnmore.html">Learn more...</a>
            </div>

            <div id="scroll">
                <a id="scroll-link" href="#videos">Scroll for more</a>
                <br>
                <i class="fa fa-angle-down" aria-hidden="true"></i>

            </div>

        </main>

        <section id="videos" ng-controller="mainController">
        <h3>Videos</h3>
            <div ng-repeat="video in videos" class="video-list">
                <a class="video-link" href="{{video.url}}">{{video.title}}</a>
                <div ng-if="video.status">
                    <i class="fa fa-check-circle status-icon" aria-hidden="true"></i>
                </div>
                <div ng-if="!video.status">
                    <a href="/public/{{video.title}}.torrent">Video unavailable. Download torrent here!</a>
                    <i class="fa fa-times-circle status-icon" aria-hidden="true"></i>
                    <br>
                    <a class="link-cool" href="http://keepup.pedelen.com/torrent.html?http://keepup.pedelen.com/public/{{video.title}}.torrent">Or stream the torrent here!</a>
                </div>
            </div>
        </section>

    </body>
</html>