<!DOCTYPE html>
<html lang="en-us" ng-app="myApp">
    <head>
        <title>KeepUp</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <!-- load bootstrap and fontawesome via CDN -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

        <link rel="stylesheet" href="./assets/styles.css" />
        <style>
            html, body, input, select, textarea
            {
                font-size: 1.05em;
            }
        </style>
        
        <!-- load angular via CDN -->
        <script src="//code.angularjs.org/1.3.0-rc.1/angular.min.js"></script>
        <script src="//code.angularjs.org/1.3.0-rc.1/angular-route.min.js"></script>
        <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
        <script src="./assets/app.js"></script>
        
    </head>
    <body id="center">
        <header>
			<div id="header" style="height: 90px">
                <h1><a href="http://keepup.pedelen.com/">KeepUp Home</a></h1>
                

            </div>
		</header>

        <section id="inner-info">
        <h3>Information</h3>
            <p>Since it's inception, the DMCA has always allowed those who hold the copyrights have much more power over alleged infringers. Websites like YouTube and others are forced to take down any videos that are flagged as infringing, even if the person who reported the infringment had no legal basis to claim copyright.</p>
            <p>Recently, a large YouTube channel called TheFineBros tried to copyright the word 'React', and attempted to takedown or monetize any videos that used the word 'React' and a similar format to theirs. Obviously, this is a huge problem for smaller content creators and YouTube as a whole.</p>
            <p>KeepUp attempts to help solve this problem by providing an independent platform that YouTubers can save their videos to so viewers won't be left in the dark if the video is wrongfully taken down.</p>
            <p>As KeepUp uses the BitTorrent protocol, it is also quite useful for people around the world who can't access traditional YouTube or are restricted from viewing some videos by governments or other middlemen. BitTorrent distributes the files to many users golbally so even if a user's connection to KeepUp is disrupted, they will still be able to access the videos they request.</p>
            <p>From helping small YouTubers fight back against corrupt DMCA Takedown requests to allowing worldwide access to YouTube videos, KeepUp is always for those who need help. No one should be without equal footing on the internet.</p>
            <br>
            <br>
            <h5>Developed by Patrick Edelen at HackDFW 2016</h5>
        </section>

    </body>
</html>